.parallax {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 42vh;
  background-size: cover;
  background-position: center center;
  background-image: url(https://lh5.googleusercontent.com/xMVA4FJUlkSS5HGKuoftHUwK5kbOMcODPUIoOThyKYbEWvHzB752avEdQjoVIFDVWsk8iEK4t7mvXSLb5FCG4KE=w16383);
  transform: translate3d(0px, 0px, 0px);
}


.home-container {
  background-color: #fff;
  text-align: justify;
  justify-content: center;
}
.home-para{
  font-size: 24px;
}

.home-container h2{
  font-size: 24px;
  font-weight: bold;
}
.home-container li{
  font-size: 19px;
}
/* @media only screen and (max-width: 480px) {
  .parallax{
    height:20vh !important;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    url(../../../../public/static/banner1.png);
    background-repeat:no-repeat;
    background-position-y: 2% !important;
  }
} */
