/* .parallax {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 42vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    url(../../../../public/static/banner1.jpg);
  background-size: contain;
  background-position-y: 15%;
  background-attachment: fixed;
  color: #fff;
} */
.parallex{
  height: 42vh;
  max-height: 42vh;
}

.home-container {
  background-color: #fff;
  text-align: justify;
  justify-content: center;
}
.home-para{
  font-size: 24px;
}

.home-container h2{
  font-size: 24px;
  font-weight: bold;
}
.home-container li{
  font-size: 19px;
}
/* @media only screen and (max-width: 480px) {
  .parallax{
    height:20vh !important;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    url(../../../../public/static/banner1.png);
    background-repeat:no-repeat;
    background-position-y: 2% !important;
  }
}
@media only screen and (max-width: 768px) {
  .parallax{
    height:25vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    url(../../../../public/static/banner1.png);
    background-position-y: -18%;
  }} */